[Desktop Entry]
Encoding=UTF-8
Name=inbestcoin Wallet
Comment=inbestcoin wallet
Exec=inbestcoin %U
Terminal=false
Type=Application
Icon=inbestcoin
MimeType=x-scheme-handler/inbestcoin;
Categories=Office;Finance;
